<div class="about-section">
    <h1>About Us</h1>
    <p>"Kanban" is the Japanese word for "visual signal." If you work in services or technology, your work is oftentimes invisible and intangible. A kanban board helps make your work visible so you can show it to others and keep everyone on the same page.</p>
   </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
           <div class="container">
          <h2>Mohd. Zaid</h2>
          <p class="title">Developer</p>
          <p>
            A  professional who is charged
             with designing and coding software for businesses and consumers alike. 
            They work closely with clients to determine what they need</p>
          <p>zaid@example.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
            <h2>Nilufa Khan</h2>
            <p class="title">Developer</p>
            <p>
              A  professional who is charged
               with designing and coding software for businesses and consumers alike. 
              They work closely with clients to determine what they need</p>
            <p>nilufa@example.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
            <h2>Suraj</h2>
            <p class="title">Developer</p>
            <p>
              A  professional who is charged
               with designing and coding software for businesses and consumers alike. 
              They work closely with clients to determine what they need</p>
            <p>suraj@example.com</p>
        </div>
      </div>
    </div>
  </div>
